<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}  | KAP-ataloger</title>
        <meta name="author" content="Katherine Anne Porter Correspondence project">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/static/css/theme.css" type="text/css">
        
        <!-- Javascript -->
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>

        {% endblock %}
    </head>
    <body>
        <div class="container">
                  {% for msg in get_flashed_messages() %}
                  {% if msg != None %}
                  <div id="messages" class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p class="message">{{ msg | safe }}</p>
                    </div>
                    {% endif %}
                  {% endfor %}
        </div>

        {% block content %}
        {% endblock %}

        {% block foot %}
        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/static/js/vendor/alert.js"></script>
        <script src="/static/js/vendor/jquery.cookie.js"></script>
        <script src="/static/js/main.js"></script>
         {% endblock %}

    </body>
</html>
