{% extends "base.html" %}
{% block content %}
<div class=container>
    <div class="page-header">
        <h1>Topics</h1>
    </div>
    <p class="lead">Supply new labels for automatically-generated "topics" (if possible) or mark for deletion.</p>
    <dl>
        {% for topic in topics %}
        <div id="t{{topic.id}}" class="row topic">
            <div class="col-md-8">
                <dt>
                    {% block form scoped %}
                    <h4>{{topic.orig_label}}</h4>
                    <p><small>It appears a form failed to load. You may want to refresh the page.</small></p>
                    {% endblock %}
                    <a href="http://localhost:3000/?f%5Bsubject_facet%5D%5B%5D={{ topic.orig_label }}">see associated documents &raquo;</a>
                </dt>
                            <dd>
                                <h4>
                                    {{ topic.terms_top }}
                                </h4>
                                <a class="showMore" href="#" data-target="list-{{topic.id}}">more terms &raquo;</a>
                                <p class="full-list" id="list-{{topic.id}}">{{topic.terms_all}}</p>
                                <a class="showLess" href="#">&laquo; fewer terms</a>
                            </dd>
                        </div>
                        <div class="col-md-4">
                        </div>
            </div>
            <hr>
        {% endfor %}
    </dl>
</div>
<div class="container">
    <ul class="pagination pagination-lg">
        {% for page in paged_response.iter_pages(left_edge=2, left_current=2, right_current=6, right_edge=2) %}
        {% if page %}
        <li><a href="/topics/{{page}}">{{page}}</a></li>
        {% else %}
        <li><span class="ellipsis">…</span></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}