{% extends "base.html" %}
{% block content %}
<div class=container>
    <div class="page-header">
        <h1>Topics</h1>
    </div>
    <p class="lead">Supply new labels for automatically-generated "topics" (if possible) or mark for deletion.</p>
    <dl>
        {% for topic in topics %}
        <div class="row">
            <div class="col-md-8">
                <dt id="t{{topic.id}}">
                       <div class="row topic"> 
                        <form class="form-inline" role="form">
                                {% if topic.supplied_label == None %}
                             <div class="form-group col-md-8">
                                <label class="sr-only" for="input-label-topic-{{topic.id}}">Label for {{ topic.orig_label }}</label>
                                <input type="text" class="form-control" id="input-label-topic-{{topic.id}}" placeholder="{{ topic.orig_label }}">
                            </div>   
                            <button type="submit" class="btn btn-default btn-sm btn-primary">Save New Label</button>
                            <button class="btn btn-default btn-sm btn-danger">Delete</button>
                            {% else %}
                             <div class="form-group col-md-8">
                                <label class="sr-only" for="input-label-topic-{{topic.id}}">Label for {{ topic.orig_label }}</label>
                                <input type="text" class="form-control" id="input-label-topic-{{topic.id}}" placeholder="{{ topic.supplied_label }}" disabled>
                            </div>
                                    <button class="btn btn-default btn-sm">Edit again</button>                       
                            {% endif %}
                        </form>
                        </div>
                        <a href="http://localhost:3000/?f%5Bsubject_facet%5D%5B%5D={{ topic.orig_label }}">see associated documents &raquo;</a>
                </dt>
                            <dd>
                                <p>
                                    {{ topic.terms_top }} &nbsp;
                                    <a href="#">more terms &raquo;</a>
                                </p>
                                <p class="hidden full-list">{{topic.terms_all}}</p>
                            </dd>
                        </div>
                        <div class="col-md-4">
                        </div>
            </div>
            <hr>
        {% endfor %}
    </dl>
</div>
<div class="container">
    <ul class="pagination pagination-lg pull-right">
        {% for page in paged_response.iter_pages(left_edge=2, left_current=2, right_current=6, right_edge=2) %}
        {% if page %}
        <li><a href="/topics/{{page}}">{{page}}</a></li>
        {% else %}
        <li><span class="ellipsis">…</span></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}